body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(10, 10, 10, 0.95);
}

#viewport {
    position: fixed;
    inset: 0;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#viewport:active {
    cursor: grabbing;
}

#infinite-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.room-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room {
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}

.dungeon-menu {
    min-height: 140px;
    z-index: 40;
}

#chat-box {
    position: fixed;
    right: 20px;
    bottom: calc(140px + 60px);

    z-index: 50;

    padding: 16px;
    background: rgba(10, 10, 10, 0.9);
    border: 3px solid #4a4a4a;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);

    width: clamp(320px, 40vw, 480px);
    height: clamp(220px, 30vh, 350px);

    box-sizing: border-box;
    overflow-y: auto;
    text-align: left;
}

#mini-map {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid #4a4a4a;
    background-color: rgba(0,0,0,0.6);
    z-index: 60;
    border-radius: 8px;
    overflow: hidden;
}

#mini-map-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
